In [1]:
#Import packages:
import pandas as pd
import numpy as np
import os

In [2]:
# Create string of location
path = '/Users/aegarcia/Documents/Documents/01-2022 Instacart Basket Analysis/'
# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
# Import orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
# Import orders_product_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

## Question 1:
### Merge your prepared Instacart orders data with the new orders_products_prior dataframe

In [3]:
# Look for dimensions of 'orders_prior' and the first 5 rows:
df_ords_prior.shape

(32434489, 4)

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Look for dimensions of 'orders' and the first 5 rows:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [6]:
# Merge 'orders_prior' into 'orders' and create the column-indicator
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
# Check for types of merge created
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

In [8]:
# OUTER merge 'orders_prior' into 'orders'. 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,0,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,0,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,0,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,0,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [9]:
# Check for types of merge created
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [12]:
df_merged_large.shape

(32640698, 11)

## Question 2:
### Export the merged file in pickle format as “orders_products_combined.pkl”.

In [10]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))